<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
<div class="header">
    <div class="container">
        <a href="{{ path('homepage') }}" class="brand">t1dTracker</a>
        <a href="#" class="nav-toggle">Menu</a>
        <nav class="header-nav">
        {% if is_granted('ROLE_USER') %}
            <ul class="main-nav">
                <li><a href="{{ path('entry_index') }}">Entries</a></li>
                <li><a href="{{ path('settings') }}">Settings</a></li>
            </ul>
            <ul class="user-nav">
                <li><a href="{{ path('profile') }}">Profile</a></li>
                <li><a href="{{ path('logout') }}">Log Out</a></li>
            </ul>
        {% else %}
            <ul class="user-nav">
                <li><a href="{{ path('register') }}">Register</a></li>
                <li><a href="{{ path('login') }}">Log In</a></li>
            </ul>
        {% endif %}
        </nav>
    </div>
</div>
        <div class="container">
            {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ msg }}
            </div>
            {% endfor %}

            {% for msg in app.session.flashBag.get('error') %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
            <script>
                $('html').addClass('js');

                $('.nav-toggle').click(function(){
                    $('.header-nav').slideToggle(250);
                });

            </script>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
